
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
}

/* Header */

header h1 {
    margin: 50px 0;
    line-height: 100px;
    font-size: 300%;
    color: #E53170;
}

header p {
    font-size: 32px;
    font-weight: 300;
}

/* Main Body */

main {
    margin-top: 50px;
}

.cards {
    float: left;
    margin: 20px;
    width: calc(100% / 3 - 40px);
    background-color: #0F0E17;
    color: white;
    box-shadow: 0 0 15px 10px lightgrey;
}

main img {
    float: left;
    width: 30%;
}

.card-infos {
    float: left;
    width: calc(70% - 20px);
    margin-left: 20px;
    margin-top: 14px;
}

.card_component {
    height: calc(100% / 3);
    text-align: left;
    line-height: 45px;
    font-size: 180%;
}

a {
    text-decoration: none;
    color: #00A3F5;
}

/* Fancy tests */

a:hover {
    color: #E53170;
}

img:hover {
    transform: scale(1.2);
}
